# Godot 4+ specific ignores
.godot/
/android/
TODO.md
*.mp3
Sound/V5 FitnessGram 1.mp3.import
Sound/V5 FitnessGram 2.mp3.import
Sound/B3 Redbird 1.mp3.import
Sound/B3 Redbird 2.mp3.import
Sound/B3 Redbird 3.mp3.import
Sound/B3 Redbird 4.mp3.import
Sound/M1 Divisions 1.mp3.import
Sound/M1 Divisions 2.mp3.import
Sound/M2 Divisions 1.mp3.import
Sound/M2 Divisions 2.mp3.import
Sound/Bossfight - Milky Ways.mp3.import
